.roleaffixes-settings-group {
  border: 1px solid var(--SmartThemeBorderColor);
  border-radius: 5px;
  padding: 5px 7px;
  margin-bottom: 2px;
}

.roleaffixes-settings-group > *:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.roleaffixes-center-text {
  display: block;
  text-align: center;
}

.roleaffixes-margin-bottom-10 {
  margin-bottom: 10px;
}

.roleaffixes-margin-bottom-5 {
  margin-bottom: 5px;
}

.roleaffixes_settings input[type="checkbox"] {
  margin-left: 1px;
  margin-right: 1px;
}
