.NoAss-preset {
    display: flex;
    align-items: baseline;
    gap: 1em;
}
.NoAss-preset > .NoAss-preset-actions {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 0.5em;
}

.hidden {
    display: none;
}

.lastInContext {
    border-top: 0px !important;
}

.noass-center-text {
    display: block;
    text-align: center;
}

.noass-margin-bottom-10 {
    margin-bottom: 10px;
}

.noass-margin-bottom-5 {
    margin-bottom: 5px;
}

.noass-settings-group {
    border: 1px solid var(--SmartThemeBorderColor);
    border-radius: 5px;
    padding: 5px 7px;
    margin-bottom: 2px;
}

.noass-settings-group > *:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
}

.noass_settings input[type="checkbox"] {
    margin-left: 1px;
    margin-right: 1px;
}